@import 'base';
@import 'vendor/normalize';
@import 'vendor/bootstrap';

body {
    font-family: 'Open Sans', "Titillium Web";
    font-size: 12px;
}

nav.navbar {
    background-color: #222;
}

.flex-centred {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-node-list {
    padding-right: 0;
    padding-left: 0;
}

.node-list {
    list-style-type: none;
    padding-left: 0;

    li {
        background-color: #f7f7f9;

        button {
            border: none;
            background-color: transparent;
            text-decoration: underline;
            color: #ccc;
            text-align: left;
            margin: 0;
            padding: 0;

            i {
                margin: 4px;
                color: #222;
            }

            span {
                color: #222;
            }

            &:focus {
               outline: 0;
            }
        }

        & > div {
            display: flex;
            justify-content: space-between;

            button.toggle i {
                font-size: 16px;
            }
        }

        & > .node-list {
            display: block;
            padding-left: 20px;

            li {
                border-left: 1px solid darken(#f7f7f9, 20%);

                &:first-child {
                    border-top: 1px solid darken(#f7f7f9, 20%);
                }
            }
        }
    }
}

.node-version-list {
    p {
        padding: 1px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    li button {
        text-align: left;
        color: #222;
    }
}

.btn i.fa {
    margin-right: 5px;
}
