@import 'base';
@import 'vendor/normalize';
@import 'vendor/bootstrap';
@import '_node-tree';

body {
    font-family: 'Open Sans', "Titillium Web";
    font-size: 12px;
}

nav.navbar, .login-view {
    background-color: #03A9F4;
}

.login-view .card {
    background-color: white;
}

.flex-centred {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i.fa {
    margin-right: 5px;
}

.page-content {
    padding-top: 20px;
}

.card-header {
    font-weight: 600;
}

div > .btn {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.3;
}
