.node-tree {
    list-style-type: none;
    padding-left: 0;

    li {
        button {
            border: none;
            background-color: transparent;
            text-align: left;
            margin: 0;
            padding: 0;
            font-size: 13px;

            i {
                margin: 4px;
            }

            &:focus {
               outline: 0;
            }
        }

        & > div {
            display: flex;
            justify-content: space-between;

            button.toggle i {
                font-size: 14px;
            }
        }

        & > .node-tree {
            display: block;
            padding-left: 15px;
        }
    }
}
