@import 'bulma/utilities/utilities';
@import 'bulma/config/variables';

$family-sans-serif: "Source Sans Pro", sans-serif; // Add a sans-serif family
$family-primary: $family-sans-serif; // Use the new sans-serif family

@import 'bulma/config/generated-variables';
@import 'bulma/base/base';
@import 'bulma/elements/elements';
@import 'bulma/components/components';
@import 'bulma/layout/layout';

@import 'node-tree';

div > .button {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}
