@import 'bulma/utilities/utilities';
@import 'bulma/config/variables';

$family-sans-serif: "Source Sans Pro", "Open Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import 'bulma/config/generated-variables';
@import 'bulma/base/base';
@import 'bulma/elements/elements';
@import 'bulma/components/components';
@import 'bulma/layout/layout';

@import 'node-tree';

div > .button {
    margin-right: 4px;

    &:last-child {
        margin-right: 0;
    }
}

.view-container {
    margin-top: 20px;
}

.select.is-fullwidth {
    width: 100%;
    display: block;

    select {
        width: 100%;
        display: block;
    }
}
